################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PireksCihazEntegrasayonu/v15/Server/sqlite3
/PireksCihazEntegrasayonu/bin
